$primary-color: #E1AFD1;

.section-width-default {
  @apply max-w-[340px] sm:max-w-[600px] md:max-w-[700px] lg:max-w-[880px] xl:max-w-[1040px] 2xl:max-w-[1200px] 3xl:max-w-[1400px] w-full;
}

.flex-centered {
  @apply flex justify-center items-center;
}

.section-y-short {
  @apply min-h-screen lg:min-h-[80vh];
}

html h1,
h2,
h3,
h4,
p,
span {
  @apply text-dark-3 dark:text-light-1;
}

.massive-text {
  @apply text-7xl lg:text-9xl 2xl:text-[220px];
}

h1 {
  @apply text-5xl lg:text-7xl xl:text-8xl font-extrabold;
}

h2 {
  @apply text-3xl lg:text-4xl xl:text-5xl font-extrabold;
}

h3 {
  @apply text-3xl leading-snug lg:text-[32px] font-bold;
}

h4 {
  @apply text-2xl leading-snug lg:text-[24px] font-bold;
}

p {
  @apply text-xl leading-snug lg:text-[24px] font-light;
}

button {
  @apply text-dark-3 dark:text-light-1;
}


.btn {

  &.primary {
    position: relative;
    border: none;
    transition: all 0.2s ease;
    @apply text-xl font-bold px-6 py-4 mx-1 lg:mx-4 lg:px-16 lg:py-5 rounded-lg;
  
    &.social {
      @apply p-5 lg:p-6;
    }
  
    &:hover {
      transform: scale(1.04);
    }
    &:active {
      transform: scale(0.96);
    }
    &:before,
    &:after {
      position: absolute;
      content: "";
      width: 150%;
      left: 50%;
      height: 100%;
      transform: translateX(-50%);
      z-index: -1000;
      background-repeat: no-repeat;
    }
    &:hover:before {
      top: -70%;
      background-image: radial-gradient(circle, var(--btn-color) 20%, transparent 20%),
        radial-gradient(circle, transparent 20%, var(--btn-color) 20%, transparent 30%),
        radial-gradient(circle, var(--btn-color) 20%, transparent 20%),
        radial-gradient(circle, var(--btn-color) 20%, transparent 20%),
        radial-gradient(circle, transparent 10%, var(--btn-color) 15%, transparent 20%),
        radial-gradient(circle, var(--btn-color) 20%, transparent 20%),
        radial-gradient(circle, var(--btn-color) 20%, transparent 20%),
        radial-gradient(circle, var(--btn-color) 20%, transparent 20%),
        radial-gradient(circle, var(--btn-color) 20%, transparent 20%);
      background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%,
        15% 15%, 10% 10%, 18% 18%;
      background-position: 50% 120%;
      animation: greentopBubbles 0.6s ease;
    }
    @keyframes greentopBubbles {
      0% {
        background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
          40% 90%, 55% 90%, 70% 90%;
      }
  
      50% {
        background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
          50% 50%, 65% 20%, 90% 30%;
      }
  
      100% {
        background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
          50% 40%, 65% 10%, 90% 20%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
      }
    }
    &:hover::after {
      bottom: -70%;
      background-image: radial-gradient(circle, var(--btn-color) 20%, transparent 20%),
        radial-gradient(circle, var(--btn-color) 20%, transparent 20%),
        radial-gradient(circle, transparent 10%, var(--btn-color) 15%, transparent 20%),
        radial-gradient(circle, var(--btn-color) 20%, transparent 20%),
        radial-gradient(circle, var(--btn-color) 20%, transparent 20%),
        radial-gradient(circle, var(--btn-color) 20%, transparent 20%),
        radial-gradient(circle, var(--btn-color) 20%, transparent 20%);
      background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%,
        18% 18%;
      background-position: 50% 0%;
      animation: greenbottomBubbles 0.6s ease;
    }
  
    @keyframes greenbottomBubbles {
      0% {
        background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
          70% -10%, 70% 0%;
      }
  
      50% {
        background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
          105% 0%;
      }
  
      100% {
        background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
          110% 10%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
      }
    }
  }

  &.small {
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: var(--black-white);
    z-index: 1;
    position: relative;
    font-weight: 1000;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
    @apply text-xl;

    &:active {
      box-shadow: 2px 6px 10px -3px rgba(0, 0, 0, 0.27);
      transform: translateY(4px);
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 0;
      border-radius: 15px;
      background-color: #451D76;
      z-index: -1;
      -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
      box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
      transition: all 250ms;
      background-color: var(--btn-small);
     }
     &:hover {
      color: var(--black-white-invert);
     }
     &:hover::before {
      width: 100%;
     }

     svg {
      @apply text-2xl my-[2px];
     }
  }

  &.pink {
    --btn-small:var(--black-white);
    --btn-color: var(--pink);
    background-color: var(--pink);
  }
  &.blue {
    --btn-small:var(--black-white);
    --btn-color: var(--blue);
    background-color: var(--blue);
  }
  &.green {
    --btn-small:var(--black-white);
    --btn-color: var(--green);
    background-color: var(--green);
  }
}

.btn-tag {
  @apply text-2xl lg:text-[32px] font-bold bg-[#C4E4FF] dark:bg-[#00224D] px-4 py-2 lg:px-8 lg:py-4 rounded-lg;
}
